@use 'variables';
@use 'breakpoints' as *;

header {
	background: url('/assets/images/header-opt.jpg') no-repeat center;
	background-size: cover;
	height: 90vh;
	display: flex;
	position: relative;
	transition: 0.5s ease-in-out all;
	margin-bottom: 5rem;

	@media (min-width: $md) {
		background: url('/assets/images/header-headspace-opt.jpg') no-repeat center;
		background-size: cover;
		height: 90vh;
		display: flex;
		transition: 0.5s ease-in-out all;
		margin-bottom: 5rem;
	}

	.text-container {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 10%;
		top: 30%;
		cursor: default;

		.greeting {
			font-size: 2rem;
			margin: 0;

			.name {
				font-family: variables.$serif;
				margin: 0;
				font-size: 4rem;
			}
		}

		.job-title {
			font-size: 2rem;
			margin: 0;
		}

		// &::before {
		// 	content: '';
		// 	background: variables.$gradient-pink-orange;
		// 	height: 100%;
		// 	width: 100%;
		// 	position: absolute;
		// 	filter: blur(500px);
		// 	transition: all 0.2s ease-in-out;
		// 	opacity: 10%;
		// }
		// &:hover::before {
		// 	transform: scale(1.2);
		// }
	}
}
