@use 'variables';
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #000000;
  position: absolute;
  top: 0;
  z-index: 100;
  transition: 0.2s ease;
  transition-property: height;
  margin: auto;

  .menu_link {
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}
