$serif: 'Dm Serif Display';
$sans: 'Inter';
$mono: 'JetBrains Mono';
$gradient-pink-orange: linear-gradient(90deg, #ff5289 0%, #ff8766 100%);
$gradient-pink-purple: linear-gradient(90deg, #c41c76 0%, #4f0c97 100%);
