@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono";
  background-color: #000;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
body::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #000000; /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

a {
  color: white;
  text-decoration: none;
}

.section-title {
  font-family: "Inter";
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

.logo {
  width: 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;
  margin: auto;
}
nav .menu_link {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  transition: 0.1s ease;
  z-index: 200;
  opacity: 0.8;
}
nav .menu_link:hover {
  opacity: 1;
}

header {
  background: url("/assets/images/header-opt.jpg") no-repeat center;
  background-size: cover;
  height: 90vh;
  display: flex;
  position: relative;
  transition: 0.5s ease-in-out all;
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  header {
    background: url("/assets/images/header-headspace-opt.jpg") no-repeat center;
    background-size: cover;
    height: 90vh;
    display: flex;
    transition: 0.5s ease-in-out all;
    margin-bottom: 5rem;
  }
}
header .text-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10%;
  top: 30%;
  cursor: default;
}
header .text-container .greeting {
  font-size: 2rem;
  margin: 0;
}
header .text-container .greeting .name {
  font-family: "Dm Serif Display";
  margin: 0;
  font-size: 4rem;
}
header .text-container .job-title {
  font-size: 2rem;
  margin: 0;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 10rem auto;
}
.project-container .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}
.project-container .info .title {
  font-size: 4rem;
  margin: 0;
  text-align: center;
  font-family: "Dm Serif Display";
}
.project-container .info .description {
  font-size: 1.2rem;
  text-align: center;
}
.project-container .info .techs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-container .info .techs svg {
  font-size: 2.5rem;
  margin: 2rem;
}
.project-container .info .buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-container .info .buttons-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 1rem 2rem;
  border-radius: 10px;
  transition: 0.3s ease all;
}
.project-container .info .buttons-container .btn:hover {
  background-color: #fff;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  color: #000;
}
.project-container .info .buttons-container .btn svg {
  margin-right: 10px;
}
.project-container .img-container {
  position: relative;
}
.project-container .img-container img {
  max-width: 100%;
}
.project-container .img-container::before {
  content: "";
  background: linear-gradient(90deg, #c41c76 0%, #4f0c97 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 90%;
  margin: auto;
  z-index: -1;
  position: absolute;
  filter: blur(100px);
  transition: all 0.2s ease-in-out;
  opacity: 10%;
}
.project-container .img-container:hover::before {
  opacity: 20%;
  transform: scale(1.1);
}

.posts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 10rem auto;
  gap: 30px;
}
.posts-container .card {
  width: 350px;
  height: 250px;
  border-radius: 10px;
  border: 2px solid #fff;
  position: relative;
}
.posts-container .card img {
  border-radius: 8px 8px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
}
.posts-container .card .content {
  padding: 0 1rem;
  font-size: 0.8rem;
}
.posts-container .card .content p {
  margin: 5px 0;
}
.posts-container .card .content .tags {
  display: flex;
  margin-bottom: 5px;
  overflow-x: auto;
}
.posts-container .card .content .tags .tag {
  background: linear-gradient(90deg, #c41c76 0%, #4f0c97 100%);
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
}
.posts-container .card::before {
  content: "";
  background: linear-gradient(90deg, #c41c76 0%, #4f0c97 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 90%;
  margin: auto;
  z-index: -1;
  position: absolute;
  filter: blur(100px);
  transition: all 0.2s ease-in-out;
  opacity: 10%;
}
.posts-container .card:hover::before {
  opacity: 20%;
  transform: scale(1.5);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.skills-container .skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4666666667);
  margin: 1rem;
  border-radius: 10px;
  position: relative;
}
.skills-container .skill::before {
  content: "";
  background: linear-gradient(90deg, #c41c76 0%, #4f0c97 100%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: -1;
  position: absolute;
  filter: blur(100px);
  transition: all 0.2s ease-in-out;
  opacity: 10%;
}
.skills-container .skill:hover::before {
  opacity: 60%;
  transform: scale(1.1);
}
.skills-container .skill img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem auto;
  flex-wrap: wrap;
}
.contact-container .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-container .contact svg {
  font-size: 4rem;
  transition: 0.1s ease all;
  opacity: 0.8;
}
.contact-container .contact svg:hover {
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  min-height: 5vh;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
  }
}
footer .copyright {
  font-size: 0.8rem;
  padding: 1rem;
}
footer .copyright .name {
  font-size: 0.9rem;
  font-weight: 600;
}
footer .scroll {
  padding: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.1s ease-in-out all;
}
footer .scroll:hover {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */